<span id="${id}">
	<button data-dojo-type="dijit.form.DropDownButton" data-dojo-attach-point="button">
<!--		<span>${value}</span>-->
	</button>
	<div data-dojo-type="dijit.TooltipDialog" data-dojo-attach-point="dialog">
		<table border="0">
			<tr><td>
				<label data-dojo-attach-point="termLabel">Term:</label>
				<label data-dojo-attach-point="titleLabel" style="display:none;">Titel:</label>
			</td><td colspan="2">
		    	<div data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="termInput"></div>
		    </td></tr>
			<tr><td>
				<label>Search:</label>
			</td><td colspan="2">
		    	<select data-dojo-type="dijit.form.Select" data-dojo-attach-point="modifierSelect">
		    		<option value="exact">Exact</option>
		    		<option value="start">Begin</option>
		    		<option value="part">Partial</option>
		    		<option value="stem">Stem</option>
		    		<option value="relevant">Synonyms</option>
		    		<option value="fuzzy">Fuzzy</option>
		    		<option value="phonetic">Fonetic</option>
		    	</select>
				<button data-dojo-type="dijit.form.ToggleButton" data-dojo-attach-point="forbiddenToggle"
						data-dojo-props="iconClass: 'dijitCheckBoxIcon'">
				    Forbidden
				</button>
		    </td></tr>
		    <tr valign="top"><td>
	    		<label data-dojo-attach-point="alternativesLabel">Alternatives:</label>
	    		<label data-dojo-attach-point="wordListLabel" style="display: none;">Word list:</label>
			</td><td colspan="2">
		    	<span data-dojo-type="uva.query.InlineEditBoxList" data-dojo-attach-point="wordList"></span>
			</td></tr>
		    <tr><td colspan="2" align="right">
		    	<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="wordListButton"
		    			data-dojo-props="iconClass:'dijitIcon dijitIconTask'">Create word list</button>		    	
		    	<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="deleteButton"
		    			data-dojo-props="iconClass:'dijitIcon dijitIconDelete'">Remove term</button>
		    </td></tr>
		</table>
   	</div>
</span>